<div class="app-container">
  <h1 class="text-center">Reddit Aww</h1>

    <div class="button-container">
      {{#each categories as |category|}}
        {{post-category id=category postArray=postArray showCards=showCards}}
      {{/each}}
    </div>

  {{#if showCards}}
  <div class="card-container">
    {{#each postArray as |post|}}
      {{post-card post=post}}
    {{/each}}
  </div>
  {{/if}}

</div>
{{outlet}}
