<div class="app-container">
  <h1 class="text-center">Reddit Aww</h1>
    <div class="button-container">
      {{#each categories as |category|}}
        {{post-category id=category postArray=postArrayContent view=view}}
      {{/each}}
    </div>

  {{#if postArrayContent}}
  <div class="card-container">
    {{#each postArrayContent as |post|}}
      {{post-card post=post}}
    {{/each}}
  </div>
  {{/if}}

</div>
{{outlet}}
